[submodule "rocksdb"]
	path = deps/rocksdb
	url = git@github.com:facebook/rocksdb.git
	branch = 3.4.fb
[submodule "libevent"]
	path = deps/libevent
	url = git@github.com:libevent/libevent.git
	branch = release-2.1.4-alpha

