[submodule "rocksdb"]
	path = deps/rocksdb
	url = https://github.com/facebook/rocksdb
	branch = 5.18.fb
[submodule "libevent"]
	path = deps/libevent
	url = https://github.com/libevent/libevent
	branch = release-2.1.8-stable

